.a1:link    {color:#186496;text-decoration:none}
.a1:visited {color:#186496;text-decoration:none}
.a1:active  {color:#646464;text-decoration:none}
.a1:hover  {color:#186496;text-decoration:none}

.a:link    {color:#666666;text-decoration:none}
.a:visited {color:#666666;text-decoration:none}
.a:active  {color:#1F8BAE;text-decoration:none}
.a:hover  {color:#1F8BAE;text-decoration:none}

.input {
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 12px;
	color: #57523F;
	border: 1px solid #dcdcdc;
	height: 18px;
}

.input2 {
	font-family: "µ¸¿ò", "±¼¸²";
	font-size: 12px;
	color: #57523F;
	border: 1px solid #dcdcdc;
	height: 150px;
}

.basic_color 	{FONT-FAMILY:µ¸¿ò,seoul,arial;COLOR:#57523F;FONT-SIZE:12px;}
.green_text 	{FONT-FAMILY:µ¸¿ò,seoul,arial;COLOR:#2D6C74;FONT-SIZE:12px;}
/* MEDIPIX °Ô½ÃÆÇ ÀÛ¼º ¾à°ü ½ºÅ¸ÀÏ (08.05.02) */
.pinfo {
	FONT-FAMILY:µ¸¿ò,seoul,arial;COLOR:#57523F;FONT-SIZE:12px; TEXT-DECORATION:none; line-height:16px; TEXT-ALIGN:justify;
	border:solid 1px;
	border-color:#CCCCCC;
	padding:5px 5px 5px 5px;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-arrow-color:#989898;
	scrollbar-base-color:#FFFFFF;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#E8E8E8;
	scrollbar-shadow-color:#E8E8E8;
	scrollbar-darkshadow-color:#E8E8E8;
}
/* MEDIPIX °Ô½ÃÆÇ ÀÛ¼º ¾à°ü ½ºÅ¸ÀÏ (08.05.02) */


.type 			{FONT-FAMILY:µ¸¿ò,seoul,arial;COLOR:#57523F;FONT-SIZE:12px; TEXT-DECORATION:none; line-height:16px; TEXT-ALIGN:justify;}
.type a:link    {FONT-FAMILY:µ¸¿ò,seoul,arial;COLOR:#57523F;FONT-SIZE:12px; TEXT-DECORATION:none; line-height:16px; TEXT-ALIGN:justify;} 
.type a:visited {FONT-FAMILY:µ¸¿ò,seoul,arial;COLOR:#57523F;FONT-SIZE:12px; TEXT-DECORATION:none; line-height:16px; TEXT-ALIGN:justify;} 
.type a:active  {FONT-FAMILY:µ¸¿ò,seoul,arial;COLOR:#000000;FONT-SIZE:12px; TEXT-DECORATION:none; line-height:16px; TEXT-ALIGN:justify;} 
.type a:hover   {FONT-FAMILY:µ¸¿ò,seoul,arial;COLOR:#000000;FONT-SIZE:12px; TEXT-DECORATION:none; line-height:16px; TEXT-ALIGN:justify;} 


